<a href="https://colab.research.google.com/github/jyryu3161/python_biotech/blob/main/1%EB%B0%98_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%EC%A0%95%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간고사

답안 제출: 파일명에 학번, 이름이 보이게 수정하여 "파일"->"다운로드"-> ".ipynb 다운로드", ".py 다운로드" 두 파일을 과제란에 제출하세요.

## 문제1 (10점)

알파벳으로 구성된 임의의 문자열을 input 함수로 입력으로 받고, 홀수번째 위치의 알파벳은 소문자로, 짝수번째 위치의 알파벳은 대문자로 변경하는 코드를 작성하세요. 최종 출력은 print 함수로 문자열을 출력하도록 하세요.

출력예시:


입력1. "abcdef" -> "aBcDeF"

입력2. "aaaaaa" -> "aAaAaA"

In [ ]:
# 아래 부분에 작성하세요.

input_str = input("문자열 입력")
new_str = ''
for i in range(len(input_str)):
    if (i+1) % 2 == 1: # 홀수냐 
        c = input_str[i].lower()
    else:
        c = input_str[i].upper()
    new_str+=c
print(new_str)

문자열 입력abcdef
aBcDeF

## 문제2 (10점)

임의의 정수 n을 입력으로 받고, 아래와같은 그림을 그리는 코드를 작성하세요. 

출력예시:

n = 2일 때,

@@

@

@@

n = 3일 때, 

@@@

@@

@

@@

@@@

In [ ]:
# 아래 부분에 작성하세요.

n = int(input('정수 입력 : '))
for i in range(n, 0, -1):
    print('@'*i)
for i in range(2, n+1):
    print('@'*i)

정수 입력 : 3
@@@
@@
@
@@
@@@

## 보너스 문제 (10점)

임의의 정수를 입력으로 받고, 2부터 임의의 정수 이하의 수 중 소수를 모두 출력하는 코드를 작성하세요. 

조건:

- 2 이상의 정수만 입력으로 받는다는 가정

출력예시: 

10을 입력 시, 출력으로 2, 3, 5, 7이 출력되어야 함

In [3]:
# 아래 부분에 작성하세요.

n = int(input('정수 입력: '))

prime_numbers = []
for i in range(n+1):
    count = 0
    for j in range(1, n+1):
        if i % j == 0:
            count+=1
    
    if count == 2:
        prime_numbers.append(i)

print(prime_numbers)

정수 입력: 10
[2, 3, 5, 7]