<a href="https://colab.research.google.com/github/jyryu3161/python_biotech/blob/main/lab2_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_2_%EB%AC%B8%EC%9E%90%EC%97%B4%EB%A6%AC%EC%8A%A4%ED%8A%B8%EB%B3%B4%EC%B6%A9%EC%8B%A4%EC%8A%B5_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab2.파이썬 프로그래밍 기초, 자료형 - 문자열, 리스트 보충 실습

# 중요!! 오늘 실습에서는 인덱스를 변수에 넣고 변수를 이용해서 인덱싱 할 것.

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]

i = 5
j = 10

print(a[i:j])

[6, 7, 8, 9, 10]

문자열 "Python"에서 첫 번째 문자를 인덱싱하세요.

"Data Science" 문자열에서 "Data" 부분을 슬라이싱하세요.

문자열 "123456789"에서 홀수 위치에 있는 모든 숫자를 슬라이싱하세요.

"abcdefghi"에서 "acegi"를 슬라이싱하는 방법을 찾으세요.

문자열 "Python programming"에서 마지막 5글자를 슬라이싱하세요.

[1, 2, 3, 4, 5, 6, 7, 8, 9] 리스트에서 [2, 3, 4, 5]를 슬라이싱하세요.

[1, 2, 3, 4, 5, 6, 7, 8, 9]에서 홀수 인덱스의 요소 [2, 4, 6, 8]을 슬라이싱하세요.

["a", "b", "c", "d", "e", "f", "g", "h", "i"]에서 "acegi"와 같은 패턴으로 요소를 슬라이싱하세요.

In [10]:
a = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
b = a[0:9:2]
print("".join(b))

acegi

리스트 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 뒤에서 세 번째 요소까지만 포함하는 부분을 슬라이싱하세요.

# 문자열, 리스트 혼합

문자열을 리스트로 변환하기: 문자열 "Python,Java,C++,JavaScript"을 콤마(,)를 구분자로 사용하여 리스트로 변환하세요.

In [11]:
a = "Python,Java,C++,JavaScript"
b = a.split(",")
print(b)

['Python', 'Java', 'C++', 'JavaScript']

리스트를 문자열로 변환하기: 리스트 ["Python", "is", "awesome"]을 공백을 사용해 하나의 문자열로 변환하세요. (힌트: join 함수)

In [12]:
a = ["Python", "is", "awesome"]
b = " ".join(a)
print(b)

Python is awesome

리스트의 요소를 문자열로 결합하기: 리스트 ['P', 'y', 't', 'h', 'o', 'n']의 모든 요소를 하나의 문자열로 결합하세요. 결과가 "Python"이 되도록 하세요.

In [13]:
a = ['P', 'y', 't', 'h', 'o', 'n']
b = "".join(a)
print(b)

Python

리스트 정렬 후 문자열로 변환하기: 리스트 [5, 3, 4, 2, 1]를 오름차순으로 정렬한 후, 이를 "12345" 형태의 문자열로 변환하세요.

In [15]:
a = [5, 3, 4, 2, 1]
a.sort()
print(a)

[1, 2, 3, 4, 5]

'[1, 2, 3, 4, 5]'

문자열을 역순 리스트로 변환하기: 문자열 "Python"을 역순으로 배열된 문자의 리스트로 변환하세요. (예: ['n', 'o', 'h', 't', 'y', 'P'])

In [17]:
a = list("Python")
a.reverse()
print(a)

['n', 'o', 'h', 't', 'y', 'P']