<a href="https://colab.research.google.com/github/jyryu3161/python_biotech/blob/main/lab4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab5.파이썬 프로그래밍 함수

## 함수

함수의 구조

In [ ]:
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>

return 리턴 값

일반적인 함수 정의

In [ ]:
def sum(a, b):
    result = a + b
    return result

a = sum(3, 4)
print (a)

코드의 흐름

In [ ]:
print('1')
def sum(a, b):
    print('2')
    result = a + b
    return result

print('3')
a = sum(3, 4)
print('4')

1
3
2
4

전역변수, 지역변수

In [ ]:
def sum(a, b): 
    result = a + b 
    return result

a = 3
b = 5
a = sum(a, b)

입력값이 없는 함수

In [ ]:
def say():
    return 'Hi'

a = say()
print(a)

Hi

리턴(결과)값이 없는 함수

In [ ]:
def sum(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

sum(3, 4)

result = sum(3, 4)
print(result)

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

입력값도 결과값도 없는 함수

In [ ]:
def say():
    print('Hi')

say()

Hi

함수의 결과값을 받는 방법들

In [ ]:
def sum_and_mul(a,b):
	return a+b, a*b

result = sum_and_mul(3,4)
print(result)

sum_val = result[0]
mul_val = result[1]

(7, 12)

In [ ]:
def sum_and_mul(a,b):
	return a+b, a*b

sum_val, mul_val = sum_and_mul(3,4)
print(sum_val, mul_val)

7 12

매개변수에 초깃값을 설정하는 방법

In [ ]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % old) 
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("박응용", 27)
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

함수 매개 변수에 초깃값을 설정할 때 주의할 사항

In [ ]:
def say_myself(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % old) 
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("박응용", 27)
say_myself("박응용", 27, True)

SyntaxError: ignored

함수 안에서 선언된 변수의 효력 범위

In [ ]:
a = 1
def vartest(a): 
    a = a +1

vartest(a) 
print(a)

1

## 내장함수

In [ ]:
abs(3) 
all([1, 2, 3])
any([1, 2, 3, 0])
dir([1, 2, 3])
divmod(7, 3)

for i, name in enumerate(['body', 'foo', 'bar']): 
	print(i, name)
 
 a = 3
id(a)

pow(2, 4)

## 외장함수

In [ ]:
import time

print(time.time())
print(time.localtime(time.time()))

1682932688.2402186
time.struct_time(tm_year=2023, tm_mon=5, tm_mday=1, tm_hour=9, tm_min=18, tm_sec=8, tm_wday=0, tm_yday=121, tm_isdst=0)

In [ ]:
import random
print(random.random()) # 0~1 사이의 난수

print(random.randint(1, 10))

data = [1, 2, 3, 4, 5]
random.shuffle(data)
print(data)

0.011528395186953921
7
[2, 3, 4, 1, 5]

## 실습 문제

1. 다음 코드를 참고하여 하나의 정수를 함수의 입력으로 받아, 소수인지 아닌지를 판단하는 함수 코드를 작성하세요. 소수인 경우 return 값으로 True, 소수가 아닌 경우 return 값으로 False를 반환하세요.

In [ ]:
n = int(input("수를 입력하세요. "))

cnt = 0
for i in range(2, n):
    if n % i == 0:
        cnt = cnt + 1

print (cnt)
if cnt == 0:
    print ('소수')
else:
    print ('소수 아님')

2. 숫자로 구성된 리스트를 함수의 입력으로 받고, 해당 리스트의 합을 모두 계산하여 반환하는 함수를 작성하세요.